<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="co.kr.todayplay">

    <uses-permission android:name="android.permission.INTERNET" /> <!-- SD카드 기록 허용하는 퍼미션 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" /> <!-- SD카드 읽기 허용하는 퍼미션, 킷캣이후로는 필요없음 -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:usesCleartextTraffic="true"
        android:theme="@style/AppTheme">

        <activity android:name=".DBTestActivity">
<!--            <intent-filter>-->
<!--                <action android:name="android.intent.action.MAIN" />-->

<!--                <category android:name="android.intent.category.LAUNCHER" />-->
<!--            </intent-filter>-->
        </activity>

        <activity android:name=".JoinPreferenceAnalysisActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">

        </activity>


        <activity android:name=".NoticeActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"/>
        <activity android:name=".StartPlayActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"/>

        <activity android:name=".Intro_Activity"
            android:theme="@style/intro">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>

        <activity android:name=".MyQnAActivity" />

        <activity
            android:name=".Activity_suggest"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".Customer_Service_Activity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".Activity_FAQ"
            android:theme="@style/Theme.MaterialComponents.Light.NoActionBar" />

        <activity android:name=".Login_Actitivty" android:theme="@style/Theme.AppCompat.Light.NoActionBar"/>
        <activity android:name=".Register_default" />
        <activity android:name=".JoinSettingProfileActivity" />
        <activity android:name=".FindIdPwActivity" />
        <activity android:name=".JoinPreferenceAnalysisGuideActivity" />
        <activity android:name=".JoinIdentificationActivity" />
        <activity android:name=".JoinIdentificationActivityVer2" />
        <!-- <activity android:name=".Login_Home_Activity"> -->
        <!-- <intent-filter> -->
        <!-- <action android:name="android.intent.action.MAIN" /> -->
        <!-- <category android:name="android.intent.category.LAUNCHER" /> -->
        <!-- </intent-filter> -->
        <!-- </activity> -->
        <activity
            android:name=".Login_Home_Activity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">
<!--
            <intent-filter>
               <action android:name="android.intent.action.MAIN" />-->

<!--                <category android:name="android.intent.category.LAUNCHER" />-->
<!--            </intent-filter>-->
        </activity>
        <activity
            android:name=".MainActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">
<!--            <intent-filter>-->
<!--                <action android:name="android.intent.action.MAIN" />-->
<!--                <category android:name="android.intent.category.LAUNCHER" />-->
<!--            </intent-filter>-->
        </activity>
    </application>

</manifest>